.footer {
    margin-top: 3%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    height: 10vh;
}

.line {
    text-decoration: none;
}

.line:hover {
    text-decoration: none;
}